@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Work+Sans:wght@200;300&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

div {
	background-color: transparent;
}

html {
	height: 100%;
}

body {
	margin-top: 65px;
	font-family: Roboto, Arial, sans-serif;
	color: #747474;
	height: 100%;
}

.bodyContent {
	display: block;
	width: 100%;
	height: 100%;
}

h1 {
	font-size: 2.125rem;
	color: #00b39b;
}

h1,
h2,
h3,
h4 {
	font-family: Work Sans, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: -0.3px;
	background-color: transparent;
}

header {
	position: fixed;
	/* border: 1px solid black; */
	top: 0;
	left: 0;
	width: 100%;
	max-height: 62px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 10%;
	z-index: 100;
	transition: box-shadow 0.25s ease 0s;
}

.logo {
	height: auto;
	width: 300px;
	cursor: pointer;
	margin-right: auto;
}

li,
a {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #747474;
	text-decoration: none;
}

.navBar {
	width: 1015px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.isCurrent {
	color: #00b39b;
}

.navList li {
	list-style: none;
	display: inline-block;
	font-style: bold;
	padding: 0px 9px;
}

.navList li a {
	transition: all 0.3s ease 0s;
}

.navList li a:hover {
	color: #00b39b;
}

/************************************************    *******************************************/
/*******************************************   CONTENT *****************************************/
/************************************************    *******************************************/

.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 60%;
	max-width: 1015px;
	margin: 33px auto 60px;
}

.contentLogo {
	display: flex;
	justify-content: center;
	height: 40px;
	width: 100%;
}
.quoteSite h1 {
	text-align: center;
}

.doubleQuote {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: start;
	margin-bottom: 40px;
}

.doubleQuote p {
	margin: 0.8em 0;
	line-height: 1.75;
	font-weight: 400;
	padding: 10px;
}

/*******************************************   CARD *****************************************/

.cardContainer {
	display: grid;
	column-gap: 20px;
	grid-template-columns: 1fr 1fr 1fr;
	min-height: 250px;
}

.cardUp > h1 {
	background-color: transparent;
	font-size: 1.8em;
	font-weight: 400;
	font: bolder;
	color: #fff;
	margin: 0.5em 0;
}

.cardUp > h2 {
	background-color: transparent;
	font-size: 1.3em;
	font-weight: 300;
	color: #fff;
	margin: 0;
}

.marketCard {
	display: flex;
	border-radius: 10px;
	flex-direction: column;
	justify-content: space-around;
	height: 350px;
	padding: 20px;
}

.patients {
	background: #00ccb1;
}

.Doctors {
	background: #3d83df;
}

.Clinics {
	background: #1b2734;
}

.style-select select {
	position: relative;
	width: 100%;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	padding: 0 2em 0 0;
	-webkit-appearance: none;
	outline: 0;
	font-size: 1.3em;
	font-weight: 400;
	text-transform: none;
	text-decoration: underline;
	cursor: pointer;
	color: white;
	bottom: 2px;
}

.cardUp {
	padding: 5px;
}

option {
	background-color: transparent;
	border: none;
	font-size: smaller;
}

.advert {
	display: flex;
	padding-left: 10px;
	justify-content: flex-start;
	align-items: center;
}

.brands {
	display: grid;
	grid-template-columns: 1fr 2fr;
	height: 130px;
	justify-content: center;
	margin: 50px 0;
}

.advert h1 {
	font-size: 1.625em;
	margin: 0.25em 2px 0.35em;
	padding-right: 1em;
}

.brandList {
	display: flex;
	justify-content: center;
	align-items: center;
}

.brandList li {
	list-style: none;
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 10px;
}

.brands__logos {
}

.brands__logos li a svg {
	fill: #747474;
	height: 20px;
	width: 120px;
}

.brands__logos li a img {
	fill: #747474;
	height: 35px;
	width: 110px;
}

/********************************************** section STAT *****************************************/

.stat {
	display: flex;
	justify-content: center;
	background: #e5faf8;
	background-image: none;
	background-image: linear-gradient(
		-45deg,
		rgba(0, 204, 177, 0.01) 5%,
		rgba(61, 199, 223, 0.1)
	);
	padding: 1.875em 0 0.625em;
	overflow: hidden;
	margin: 3.125rem auto 5.5rem;
	height: 670px;
}

.boxStat {
	width: 65%;
	max-width: 1015px;
	display: grid;
	grid-template-columns: 50% 1fr;
	height: 610px;
}

.column_h1 {
	margin-top: 30px;
	background-color: transparent;
}

.column_h1 h1 {
	font-size: 3rem;
	margin-top: 40px;
	margin-bottom: 30px;
}

.column_h1 h3 {
	font-size: 1.3em;
	font-weight: 500;
	line-height: 1.7142857143;
}

.whiteCardContainer {
	height: 220 px;
	padding: 5px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px;
}

.column1whiteCardContainer {
	display: flex;
	flex-direction: column;
	margin-top: 5px;
	padding-top: 30px;
}

.column2whiteCardContainer {
	display: flex;
	margin-top: 5px;
	flex-direction: column;
	padding-top: 5px;
}

.vert-align {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin-top: 15px;
	margin-bottom: 10px;
	height: 250px;
	background-color: white;
	padding: 5px;
}

.vert-align h3 {
	text-align: center;
	color: #00b39b;
	font-size: 1.4em;
	align-self: center;
}

.vert-align p {
	text-align: center;
}

/*******************************************************************************************************************/
.adresses {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 10px;
}

.adressContainer {
	width: 50%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.adressContainer h3 {
	width: 85%;
	margin-top: 30px;
	text-align: center;
	font-size: 1em;
	line-height: 25px;
}

.images-cards {
	width: 100%;
	display: flex;
	justify-content: center;
}

.contenurVillesCards {
	display: grid;
	width: 60%;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 40px;
}

.office__desc {
	font-size: 1.125em;
	font-weight: 400;
	line-height: 1.6666666667;
	padding: 1.1111111111em;
}
.btn:hover {
	color: #fff;
	background: #1662c6;
}
.btn--small {
	font-size: 0.625rem;
	padding: 1em 1.5em;
}

.btn {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	outline: 0;
	border: 0;
	border-radius: 4px;
	padding: 1.1666666667em 1.5em;
	background: #3d83df;
	font-family: Roboto, Arial, sans-serif;
	line-height: 1em;
	color: #fff;
	font-weight: 700;
	letter-spacing: 0.04em;
	font-size: 0.75rem;
	text-align: center;
	text-decoration: none !important;
	text-transform: uppercase;
	transition: all 0.2s ease 0s;
}
.office .btn {
	float: right;
}
.office__inner {
	box-shadow: 0 5px 10px 0 transparent;
	transition: box-shadow 0.2s ease 0s;
}

.office__inner {
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.03);
	border-radius: 6px;
	overflow: hidden;
	max-width: 311px;
	z-index: 2;
	position: relative;
	display: block;
	color: #747474;
}

.join-us {
	display: flex;
	width: 100%;
	justify-content: center;
}

.join-us__header {
	display: grid;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 80px;
	margin-bottom: 20px;
	margin-top: 50px;
}

.join-us__header h1 {
	color: black;
}

.main-footer {
	height: 50px;
	width: 100%;
	display: flex;
	text-align: center;
}
